<p id="notice"><%= notice %></p>

<h1>Learns</h1>

<table>
  <thead>
    <tr>
      <th>Wow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learns.each do |learn| %>
      <tr>
        <td><%= learn.wow %></td>
        <td><%= link_to 'Show', learn %></td>
        <td><%= link_to 'Edit', edit_learn_path(learn) %></td>
        <td><%= link_to 'Destroy', learn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learn', new_learn_path %>
