<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <aside class="col">
      <section>
          <%= link_to gravatar_for(@user, size: 80), @user, style: 'cursor:default;', class: 'ml-0'  %>
          <div class="ml-0">
            <h1 class="m-0"><%= @user.name %></h1>
            <p style="color:gray;"><%= @user.role%></p>
          </div>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <%= render @microposts %>
        <%= will_paginate(@microposts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      <% end %>
    </div>
  </div>
</div>